{{#crud-form
  changeset=changeset
  onSave=(action onSave)
  onCancel=(action onCancel) as |f|
}}
  <div class="well">
    {{#f.content class='form'}}
      {{#validated-field property='project' label='Project' changeset=changeset}}
        {{#power-select
          options=projectOptions
          selected=changeset.project
          onchange=(action (mut changeset.project))
          searchField='name'
          as |project|
        }}
          {{project.name}}
        {{/power-select}}
      {{/validated-field}}

      {{#validated-field property='studyLocation' label='Study location' changeset=changeset}}
          {{#power-select
            options=studyLocationOptions
            selected=changeset.studyLocation
            onchange=(action (mut changeset.studyLocation))
            searchField='name'
            as |studyLocation|
          }}
            {{studyLocation.name}}
          {{/power-select}}
      {{/validated-field}}

      {{#validated-field property='collectionType' label='Collection type' changeset=changeset}}
          {{#power-select
            options=collectionTypeOptions
            selected=changeset.collectionType
            onchange=(action (mut changeset.collectionType))
            searchField='name'
            as |collectionType|
          }}
            {{collectionType.name}}
          {{/power-select}}
      {{/validated-field}}

      {{#validated-field property='collectionMethod' label='Collection method' changeset=changeset}}
        {{#power-select
          options=collectionMethodOptions
          selected=changeset.collectionMethod
          onchange=(action (mut changeset.collectionMethod))
          searchField='name'
          as |collectionMethod|
        }}
          {{collectionMethod.name}}
        {{/power-select}}
      {{/validated-field}}

      {{#validated-field property='numberOfTraps' label='Number of traps' changeset=changeset}}
        {{input value=changeset.numberOfTraps type='number' class='form-control'}}
      {{/validated-field}}

      {{#validated-field property='collectionStartDate' label='Collection start date' changeset=changeset}}
        {{input value=changeset.collectionStartDate type='date' class='form-control'}}
      {{/validated-field}}

      {{#validated-field property='collectionStartTime' label='Collection start time' changeset=changeset}}
        {{input value=changeset.collectionStartTime type='time' class='form-control'}}
      {{/validated-field}}

      {{#validated-field property='collectionEndDate' label='Collection end date' changeset=changeset}}
        {{input value=changeset.collectionEndDate type='date' class='form-control'}}
      {{/validated-field}}

      {{#validated-field property='collectionEndTime' label='Collection end time' changeset=changeset}}
        {{input value=changeset.collectionEndTime type='time' class='form-control'}}
      {{/validated-field}}

    {{/f.content}}

    {{f.save}} {{f.cancel}}
  </div>
{{/crud-form}}
