{{#if session.isAuthenticated}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {{#link-to 'index' tagName='li' href=false}}
          {{link-to 'Overview' 'index'}}
        {{/link-to}}
        <li><a href="#">Experiments</a></li>
        {{#link-to 'collections' tagName='li' href=false}}
          {{link-to 'Collections' 'collections'}}
        {{/link-to}}
      </ul>
      <ul class="nav nav-sidebar">
        <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-offset-2 col-md-10 content">
      {{outlet}}
    </div>
  </div>
</div>
{{else}}
{{outlet}}
{{/if}}
